<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Date:</strong>
    Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
  </p>

  <p>
    <strong>Body:</strong>
    <%= blog.body %>
  </p>

  <p>
  	<strong>Mode:</strong>
  	<%= link_to blog.status, toggle_status_blog_path(blog) %>
  </p>

</div>

<p>
<%= link_to "Show this blog", blog %>
</p>
